body, html {
  background: #edeff0;
  font-family: 'Tillana', cursive;
}

body {
  position: relative;
}

.container {
  width: 1280px;
  position: absolute;
  top: 50px;
  left: 100px;
  /*left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);*/
}

#navbar {
  box-shadow: 0px 6px 6px rgba(108, 108, 109, 0.2);
  height: 50px;
  width: 1220px;
  position: absolute;
  left: 20px;
  /*left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);*/
}

 #library {
   color: #5a5a5a;
   margin-top: 0;
   margin-left: 1%;
   float: left;
 }

 #nav-icons {
   float: right;
 }

.top-row {
  float: left;
}

.bottom-row{
  float: left;
}

.course {
 margin-left: -80px;
 margin-right: 100px;
 margin-top: 20px;
 width: 600px;
 background: white;
 overflow: auto;
 border-radius: 5px;
 box-shadow: 0px 6px 6px rgba(108, 108, 109, 0.2);
 color: #5a5a5a;
 /*float: left;*/
}

.buttons h5 {
 border: 2px solid lightgrey;
 border-radius: 50px;
 padding-left: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 float: left;
}

.course-title {
 font-size: 20px;
}

.course-icons {
  float: right;
  padding-top: 18px;
}

.course-body {
  padding: 20px;
}

#intermediate {
  width: 103px;
  margin-left: 7px;
}

#java-button {
  width: 45px;
  color: #2c9676;
}

#java-header {
  background: #2c9676;
  height: 60px;
  width: 100%;
}

#java-header img {
  float: left;
  padding-left: 20px;
}

#java-header h5 {
  float: right;
  padding-right: 20px;
  color: white;
}

#django-button {
  width: 61px;
  color: #f092b0;
}

#django-header {
  background: #f092b0;
  height: 60px;
  width: 100%;
}

#django-header img {
  float: left;
  padding-left: 20px;
}

#django-header h5 {
  float: right;
  padding-right: 20px;
  color: white;
}

#wordpress-button {
  width: 87px;
  color: #838cc7;
}

#wordpress-header {
  background: #838cc7;
  height: 60px;
  width: 100%;
}

#wordpress-header img {
  float: left;
  padding-left: 20px;
}

#wordpress-header h5 {
  float: right;
  padding-right: 20px;
  color: white;
}
